*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    text-align: center;
    margin: 1rem 0;
}

.form {
    max-width: 30rem;
    margin: 0 auto;
    padding: 1.5rem 2.5rem;
    background: #3a3a3a;
    border-radius: 1rem;
}

.form input,
.form textarea {
    width: 100%;
    font-size: 1.3rem;
    margin: 0.5rem 0 1rem 0;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    border: none;
    background: #222;
    color: thistle;
}

.form label {
    font-size: 1.4rem;
}